.Life_h1_text{
    color: white;
    margin: auto 0; 
    text-align: center;
}

.Life_h2_text{
    color: white;
    margin: auto 0; 
    text-align: center;
}

.lylcs_text{
    color: white;
    margin: auto 0; 
    text-align: center;
}